# Data Preparation

# 1. Setup

In [1]:
import pandas as pd

# 2. Read Data

In [3]:
# Left leg
grf_v_left = pd.read_csv(r'..\data\GaitRec\GRF_F_V_RAW_left.csv')
grf_ap_left = pd.read_csv(r'..\data\GaitRec\GRF_F_AP_RAW_left.csv')
grf_ml_left = pd.read_csv(r'..\data\GaitRec\GRF_F_ML_RAW_left.csv')
cop_ap_left = pd.read_csv(r'..\data\GaitRec\GRF_COP_AP_RAW_left.csv')
cop_ml_left = pd.read_csv(r'..\data\GaitRec\GRF_COP_ML_RAW_left.csv')

In [4]:
# Right leg
grf_v_right = pd.read_csv(r'..\data\GaitRec\GRF_F_V_RAW_right.csv')
grf_ap_right = pd.read_csv(r'..\data\GaitRec\GRF_F_AP_RAW_right.csv')
grf_ml_right = pd.read_csv(r'..\data\GaitRec\GRF_F_ML_RAW_right.csv')
cop_ap_right = pd.read_csv(r'..\data\GaitRec\GRF_COP_AP_RAW_right.csv')
cop_ml_right = pd.read_csv(r'..\data\GaitRec\GRF_COP_ML_RAW_right.csv')

In [6]:
# Labelling
participants_label = pd.read_csv(r'..\data\GaitRec\GRF_metadata.csv')

In [7]:
grf_v_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_V_RAW_1,F_V_RAW_2,F_V_RAW_3,F_V_RAW_4,F_V_RAW_5,F_V_RAW_6,F_V_RAW_7,...,F_V_RAW_410,F_V_RAW_411,F_V_RAW_412,F_V_RAW_413,F_V_RAW_414,F_V_RAW_415,F_V_RAW_416,F_V_RAW_417,F_V_RAW_418,F_V_RAW_419
0,510,413,1,25.007842,44.399398,71.282930,111.350325,151.060614,188.434204,223.103463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,25.019307,62.278721,94.491200,133.914834,176.045690,211.082598,241.765517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,25.021281,51.954258,74.954363,106.561071,141.265769,172.779614,202.292505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,25.024699,57.128230,91.755101,132.413711,178.811880,224.234218,268.680726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,25.020170,63.753965,100.386720,144.404215,190.093214,229.451770,263.502418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
participants_label.head()

,SUBJECT_ID,SESSION_ID,CLASS_LABEL,CLASS_LABEL_DETAILED,SEX,AGE,HEIGHT,BODY_WEIGHT,BODY_MASS,SHOE_SIZE,AFFECTED_SIDE,SHOD_CONDITION,ORTHOPEDIC_INSOLE,SPEED,READMISSION,SESSION_TYPE,SESSION_DATE,TRAIN,TRAIN_BALANCED,TEST
0,1,29885,HC,HC,1,18,173.0,516.1,52.6,42.0,NaN,1,0.0,2,0,1,29.01.2015,0,0,1
1,1,29886,HC,HC,1,18,173.0,516.2,52.6,42.0,NaN,1,0.0,1,0,1,29.01.2015,0,0,1
2,1,29888,HC,HC,1,18,173.0,516.1,52.6,42.0,NaN,1,0.0,3,0,1,29.01.2015,0,0,1
3,2,888812549,HC,HC,1,51,182.0,752.1,76.7,44.0,NaN,1,0.0,1,0,1,03.08.2017,1,0,0
4,2,888812550,HC,HC,1,51,182.0,752.4,76.7,44.0,NaN,1,0.0,3,0,1,03.08.2017,1,0,0

# 3. Data Processing